<!DOCTYPE html>
<html>
    <head>
        {{!Responsive and meta tags}}
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#263238">
        {{!Title and description}}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        {{!CSS}}
        <link type="text/css" rel="stylesheet" href="{{asset "assets/css/materialize.min.css"}}" media="screen,projection">
        <link type="text/css" rel="stylesheet" href="{{asset "assets/css/style.min.css"}}" media="screen,projection">  
		<link rel="stylesheet" type="text/css" href="{{asset "assets/css/prism.css"}}" /> 
        {{! Social Meta Tags If you need..}}
        {{! Ghost header injection }}
        {{ghost_head}}
	<script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
    }({
        instrumentationKey:"770109d2-553a-4878-842f-b732b13de8d3"
    });
       
    window.appInsights=appInsights;
    appInsights.trackPageView();
</script>
    </head>
    <body class="{{body_class}}">
        {{!Sidenav and Navbar}}
        <nav id="nav-trans" class="transparent">
            <a ALIGN="top" href="{{@blog.url}}" class="brand-logo center">{{@blog.title}}</a>
            <div id="slide-out" class="side-nav fixed blue-grey darken-4">
                <div class="navwrapper container">  
                    <h1 ALIGN="CENTER" class="white-text">{{@blog.title}}</h1>
                    <p ALIGN="CENTER" class="blue-grey-text text-lighten-4">{{@blog.description}}</p>
                    <a href="https://akon.cloud">HOME</a>
					<a href="https://akon.cloud/tag/news">NEWS</a>
					<a href="https://akon.cloud/tag/azure">AZURE</a>
					<a href="https://akon.cloud/tag/office-365">OFFICE 365</a>
					<a href="https://akon.cloud/tag/powershell">POWERSHELL</a>
                    			<a href="https://akon.cloud/tag/profile">PROFILE</a>
                    <div class="navmenu-social">
                           <a href="https://twitter.com/akoncloud" class="btn-floating">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                       
                        <a href="https://github.com/akoncloud" class="btn-floating">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
			<a href="https://facebook.com/akoncloud" class="btn-floating">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">&#xE5D2;</i>
            </a>
        </nav>
        {{! Content }}
        {{{ body }}}
        {{!footer}}
        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12 white-text">
                        <h4>{{@blog.title}}</h4>
                        <p>{{@blog.description}}</p>
                    </div>
                    <div class="col l6 s12 white-text">
                        <h4>About </h4>
                        <p>About urself :D</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a href="http://creativecommons.org/licenses/by-sa/4.0/">
                              Creative Commons BY-SA 4.0
                    </a> - 2016
                    <div class="right">
                        Powered by <a href="https://ghost.org/">Ghost</a>
                        Theme <a href="https://github.com/SuphanutJui/Material-Sidenav-Ghost-Theme">Material Sidenav</a>
                    </div>
                </div>
            </div>
        </footer> 
        {{!Script}}
        <script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
        <script src="{{asset "js/materialize.min.js"}}"></script>
        <script src="{{asset "js/script.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

        {{! Ghost body injection }}
        {{ghost_foot}}
    </body>
</html>
